:root {
    /* Set default colours */
    --PriColour: #5a4568;
    --SecColour: #c49796;
    --AltColour: #293EA1;
    --Highlight: #95A6C2;
    --TxtColour: #1E2846;
    --BkgColour: #DCE1EB;

    /* Test standard values */
    --txtsize: 1em;
    --txtscale: 1.2em;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  background-color: var(--BkgColour);  
}