:root {
    /* Set default colours */
    --PriColour: #5a4568;
    --SecColour: #c49796;
    --AltColour: #293EA1;
    --Highlight: #ffea8b;
    --TxtColour: #1E2846;
    --BkgColour: #f8f4f4;
    --NavColour: #ffffff;
    --BoxShadow: #5a456813;
    --CrdColour: #c497964f;
}

html,
body {
  width: 100%;
  font-family: 'Roboto', sans-serif;
  background-color: var(--BkgColour);  
}

main {
    margin: 0% 8%;
}

/* Bootstrap cards */

.card {
    box-shadow: inset 0 -3em 3em var(--BoxShadow), 0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em var(--PriColour);
    color: var(--PriColour) !important;
}

.card-title {
    font-size: x-large;
}

.card-text {
    font-size: medium;
}

.card-footer,
.card-header {
    margin-left: 3em;
    background-color: var(--CrdColour);
}

.text-muted {
    color: var(--PriColour) !important;
    font-style: italic;
    font-size: medium;
    padding-left: 4.5em;
}

.card-end {
    color: var(--PriColour) !important;
    font-style: italic;
    font-size: medium;
    padding-left: 4.4em;
    display: flex;
    justify-content: space-between;
}

/* Bootstrap Tab Navigation */

.tab-content {
    color: var(--PriColour);
    font-size: medium;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: var(--PriColour) !important;
}

/* Bootstrap buttons */

.btn:hover {
    background-color: var(--SecColour);
    border-color: #997675;
    box-shadow: 0.2em 0.2em 0.5em var(--PriColour);
}

.btn:active {
    background-color: var(--SecColour) !important;
    border-color: #997675 !important;
}

button:hover {
    background-color: var(--SecColour);
}


