@import url('https://fonts.googleapis.com/css?family=Roboto:700');

.cover {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url(../images/Bootstrap-Pfolio.jpg);
  background-size: cover;
}

/* Nav Animation courtesy of CodePen - Mahesh Ambure (https://codepen.io/maheshambure21/pen/QwXaRw) */

/* NAVIGATION */
nav {
  width: 100%;
  /* background: #fff; */
  /* opacity: 0.9; */
  /* padding: 1em 0; */
  box-shadow: 0 0.2rem 0 var(--TxtColour);
}

.navbar {
  padding: 0;
  background-color: var(--PriColour) !important;
}

.navbar-brand {
  background-color: var(--SecColour);
  color: var(--NavColour) !important;
  text-align: right;
  font-size: 2em;
  padding-left: 0.5em;
  width: 10%;
  margin: 0;
}

.navbar-brand::after {
  position: absolute;
  content: " ";
  height: 100%;
	width: 15%;
  z-index: -1;
  top: 0;
  display: flex;
  justify-content: flex-start;
  background-color: inherit;
  transform: skewX(-20deg);
}

nav ul {
  list-style: none;
  text-align: center;
  margin-bottom: 0em !important;
  margin-right: 2em;
}
nav ul li {
  display: inline-block;
}
nav ul li a {
  display: block;
  padding: 0.8em;
  text-decoration: none;
  color: var(--NavColour);
  font-weight: 800;
  text-transform: uppercase;
  margin: 0 0.3em;
}
nav ul li a,
nav ul li a:after,
nav ul li a:before {
transition: all 1s;
}

/* nav ul li a:hover {
  color: #555;
} */

/* stroke fill effect */

nav.fill ul li a {
  position: relative;
}

nav.fill ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  /* background: #aaa; */
  height: 1px;
}

/* nav.fill ul li a {
  transition: all 1s;
} */

/* nav.fill ul li a:after {
  text-align: left;
  content: '.';
  margin: 0;
  opacity: 0;
} */

nav.fill ul li a:hover {
  color: var(--Highlight);
  z-index: 1;
}

nav.fill ul li a:hover:after {
  z-index: -10;
  animation: fill 1s forwards;
  -webkit-animation: fill 0.6s forwards;
  /* -moz-animation: fill 1s forwards; */
  opacity: 1;
}

/* Keyframes */
@-webkit-keyframes fill {
  0% {
    width: 0%;
    height: 1px;
  }
  50% {
    width: 100%;
    height: 1px;
  }
  100% {
    width: 100%;
    height: 100%;
    background: var(--SecColour);
  }
}

/* End of Nav animation */


/* Text Animation courtesy of CodePen - Carlos Córdova (https://codepen.io/carloscdev/pen/mdBLmwP) */

/* p {
  text-shadow: 0 0 7px rgba(255,255,255,.3), 0 0 3px rgba(255,255,255,.3);
} */

.jumbotron {
  background-color: rgba(0, 0, 0, 0);
}

.containerTX {
  color: #e5e5e5;
  font-size: 2.26rem;
  text-transform: uppercase;
  height: calc(100vh - 2.1em);
  display: flex;
  align-items: center;
  justify-content: center;
}

.animation {
  height:50px;
  overflow:hidden;
  margin-left: 1rem;
  /* margin-top: 3rem; */
}

.animation > div > div {
  padding: 0.25rem 0.75rem;
  height:2.81rem;
  margin-bottom: 2.81rem;
  display:inline-block;
}

.animation div:first-child {
  animation: text-animation 8s infinite;
}

/* .first div {
  background-color:#20a7d8;
}
.second div {
  background-color:#CD921E;
}
.third div {
  background-color:#c10528;
} */

@keyframes text-animation {
  0% {margin-top: 0;}
  10% {margin-top: 0;}
  20% {margin-top: -5.62rem;}
  30% {margin-top: -5.62rem;}
  40% {margin-top: -11.24rem;}
  60% {margin-top: -11.24rem;}
  70% {margin-top: -5.62rem;}
  80% {margin-top: -5.62rem;}
  90% {margin-top: 0;}
  100% {margin-top: 0;}
}

/* End of text animation */

.mb-3 {
  margin-bottom: 1.7em !important;
}

.CV {
  background-color: #a1949427;
  margin-top: 1.7em;
}

.about {
  margin-top: 1.7em;
  display: inline-block
}

.about .card-title {
  position: relative;
  margin-left: 6.5em;
  margin-top: -6em;
}

.about p {
  margin-left: 12em;
}

.about img {
  height: 10em;
  border-radius: 50%;
}

.btn-one {
  color: #fff;
  background-color: var(--PriColour);
  border-color: var(--PriColour);
  transform: skewX(-20deg);
  position: absolute;
  margin-left: 0.5em;
  z-index: 1;
  height: 3rem;
  padding-top: 0.6rem;
}

.btn-two {
  color: #fff;
  background-color: var(--PriColour);
  border-color: var(--PriColour);
  transform: skewX(-20deg);
  position: absolute;
  margin-left: -3.7em;
  margin-top: -0.8em;
  z-index: 1;
  height: 3rem;
  padding-top: 0.6rem
}

.btn-three {
  color: #fff;
  background-color: var(--PriColour);
  border-color: var(--PriColour);
  transform: skewX(-20deg);
  position: absolute;
  margin-left: -3.7em;
  margin-top: -0.8em;
  z-index: 1;
  height: 3rem;
  padding-top: 0.6rem
}

.btn-end {
  padding-left: 1.5em;
  padding-right: 1.5em;
}

.tab-content {
  margin-top: 1em;
}

footer {
  margin: -3em 10%;
}
