@import url('https://fonts.googleapis.com/css?family=Roboto:700');

html,
body {
  width: 100%;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  background-color: #131417;  
}

.cover {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url(../images/177606.jpg);
  background-size: cover;
}

/* Nav Animation courtesy of CodePen - Mahesh Ambure (https://codepen.io/maheshambure21/pen/QwXaRw) */

/* NAVIGATION */
nav {
  width: 80%;
  margin: 0 auto;
  background: #fff;
  opacity: 0.7;
  padding: 5px 0;
  box-shadow: 0px 5px 0px #dedede;
}
nav ul {
  list-style: none;
  text-align: center;
}
nav ul li {
  display: inline-block;
}
nav ul li a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: #aaa;
  font-weight: 800;
  text-transform: uppercase;
  margin: 0 10px;
}
nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all .1s;
}
nav ul li a:hover {
  color: #555;
}


/* stroke fill effect */

nav.fill ul li a {
  position: relative;
}

nav.fill ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #aaa;
  height: 1px;
}

/* nav.fill ul li a {
  transition: all 1s;
} */

/* nav.fill ul li a:after {
  text-align: left;
  content: '.';
  margin: 0;
  opacity: 0;
} */

nav.fill ul li a:hover {
  color: #fff;
  z-index: 1;
}

nav.fill ul li a:hover:after {
  z-index: -10;
  animation: fill 1s forwards;
  -webkit-animation: fill 1s forwards;
  -moz-animation: fill 1s forwards;
  opacity: 1;
}

/* Keyframes */
@-webkit-keyframes fill {
  0% {
    width: 0%;
    height: 1px;
  }
  50% {
    width: 100%;
    height: 1px;
  }
  100% {
    width: 100%;
    height: 100%;
    background: #333;
  }
}

/* End of Nav animation */


/* Text Animation courtesy of CodePen - Carlos Córdova (https://codepen.io/carloscdev/pen/mdBLmwP) */

/* p {
  text-shadow: 0 0 7px rgba(255,255,255,.3), 0 0 3px rgba(255,255,255,.3);
} */

.jumbotron {
  background-color: rgba(0, 0, 0, 0);
}

.containerTX {
  color: #e5e5e5;
  font-size: 2.26rem;
  text-transform: uppercase;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.animation {
  height:50px;
  overflow:hidden;
  margin-left: 1rem;
  /* margin-top: 3rem; */
}

.animation > div > div {
  padding: 0.25rem 0.75rem;
  height:2.81rem;
  margin-bottom: 2.81rem;
  display:inline-block;
}

.animation div:first-child {
  animation: text-animation 8s infinite;
}

/* .first div {
  background-color:#20a7d8;
}
.second div {
  background-color:#CD921E;
}
.third div {
  background-color:#c10528;
} */

@keyframes text-animation {
  0% {margin-top: 0;}
  10% {margin-top: 0;}
  20% {margin-top: -5.62rem;}
  30% {margin-top: -5.62rem;}
  40% {margin-top: -11.24rem;}
  60% {margin-top: -11.24rem;}
  70% {margin-top: -5.62rem;}
  80% {margin-top: -5.62rem;}
  90% {margin-top: 0;}
  100% {margin-top: 0;}
}

/* End of text animation */


